In [2]:
# -*- coding:utf-8 -*-
import pandas as pd #数据分析
import numpy as np #科学计算
from pandas import Series,DataFrame

post = pd.read_csv("./data/post.csv", encoding='gbk')

follower = pd.read_csv("./data/follower_followee.csv", encoding='gbk')

user_post = pd.read_excel('./data/user_post.xls', 'user_post')
# user_post

user = pd.read_excel('./data/weibo_user.xls', 'weibo_user')
# user

先分析post数据

In [3]:
# 加上这段后就能在同一cell中显示多个对象
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [124]:
post.columns.values

user_post.columns.values

user.columns.values

array([u'post_id', u'scratch_time', u'post_time', u'content', u'image',
       u'poster', u'poster_id', u'poster_url', u'repost_num',
       u'comment_num', u'repost_post_id'], dtype=object)

array([u'post_id', u'post_time', u'content', u'poster_id', u'poster_url',
       u'repost_num', u'comment_num', u'repost_post_id', u'inner_flag',
       'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16',
       'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20',
       'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24',
       'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28',
       'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32',
       'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36',
       'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40',
       'Unnamed: 41', 'Unnamed: 42'], dtype=object)

array([u'user_id', u'user_name', u'user_image', u'gender', u'class',
       u'message', u'post_num', u'follower_num', u'followee_num',
       u'is_spammer', 'Unnamed: 10'], dtype=object)

In [125]:
user.head()

,user_id,user_name,user_image,gender,class,message,post_num,follower_num,followee_num,is_spammer,Unnamed: 10
0,1041514813,james1002,http://tp2.sinaimg.cn/1041514813/180/5708899731/1,male,5,Lv.5 浙江宁波 简介：诚信为本，站的高才能看的远。快乐开心每一天。,1557,1421,2000,NaN,NaN
1,1046222077,郑钧,http://tp2.sinaimg.cn/1046222077/180/5711167576/1,male,10,北京东城区 简介：且把悲歌欢唱 个性域名： zhengjun 博客地址： h...,1265,1280571,130,NaN,NaN
2,1049591831,波播阿波思密达,http://tp4.sinaimg.cn/1049591831/180/5710224593/0,female,5,Lv.5 吉林松原 1972年12月3日 简介：自由人，快乐族,503,302,968,NaN,NaN
3,1062050703,霞儿0109,http://tp4.sinaimg.cn/1062050703/180/1277084329/0,female,9,Lv.9 福建厦门 毕业于 厦门大学 公司 ChinaZ站长...,281,148,354,NaN,NaN
4,1071429143,紫荆花_18423,http://tp4.sinaimg.cn/1071429143/180/400610658...,female,5,Lv.5 广东湛江 毕业于 辽宁师范大学 公司 大学教师 ...,135,1975,2000,NaN,NaN

In [89]:
user_post = pd.read_csv('./data/weibo_user1.csv')
# user_post
import chardet
s = user_post.iloc[0, 5]
s
#     f = open(filepath,'rb')
#     data = f.read()
# print chardet.detect(data)
chardet.detect(s)

# detect_coding()

{'confidence': 0.5649227316969248, 'encoding': 'ISO-8859-2'}

In [20]:
# 除去多余列
user_post.info()

new_user_post = user_post.drop(user_post.columns[[i for i in range(9, 43)]], axis=1)

new_user_post.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48813 entries, 0 to 48812
Data columns (total 43 columns):
post_id           40445 non-null float64
post_time         40444 non-null object
content           39525 non-null object
poster_id         40443 non-null object
poster_url        40442 non-null object
repost_num        40443 non-null object
comment_num       40443 non-null object
repost_post_id    635 non-null object
inner_flag        19048 non-null object
Unnamed: 9        128 non-null object
Unnamed: 10       48 non-null object
Unnamed: 11       26 non-null object
Unnamed: 12       14 non-null object
Unnamed: 13       8 non-null object
Unnamed: 14       8 non-null object
Unnamed: 15       4 non-null object
Unnamed: 16       5 non-null object
Unnamed: 17       4 non-null object
Unnamed: 18       1 non-null object
Unnamed: 19       1 non-null object
Unnamed: 20       1 non-null object
Unnamed: 21       1 non-null object
Unnamed: 22       1 non-null object
Unnamed: 23       1 non-null object
Unnamed: 24       1 non-null object
Unnamed: 25       1 non-null object
Unnamed: 26       1 non-null object
Unnamed: 27       1 non-null object
Unnamed: 28       1 non-null object
Unnamed: 29       1 non-null object
Unnamed: 30       1 non-null object
Unnamed: 31       1 non-null object
Unnamed: 32       1 non-null object
Unnamed: 33       1 non-null object
Unnamed: 34       1 non-null object
Unnamed: 35       1 non-null object
Unnamed: 36       1 non-null object
Unnamed: 37       1 non-null object
Unnamed: 38       1 non-null object
Unnamed: 39       1 non-null float64
Unnamed: 40       1 non-null object
Unnamed: 41       1 non-null float64
Unnamed: 42       1 non-null float64
dtypes: float64(4), object(39)
memory usage: 16.0+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48813 entries, 0 to 48812
Data columns (total 9 columns):
post_id           40445 non-null float64
post_time         40444 non-null object
content           39525 non-null object
poster_id         40443 non-null object
poster_url        40442 non-null object
repost_num        40443 non-null object
comment_num       40443 non-null object
repost_post_id    635 non-null object
inner_flag        19048 non-null object
dtypes: float64(1), object(8)
memory usage: 3.4+ MB

In [23]:
new_user_post.columns.values

post.columns.values

array([u'post_id', u'post_time', u'content', u'poster_id', u'poster_url',
       u'repost_num', u'comment_num', u'repost_post_id', u'inner_flag'], dtype=object)

array([u'post_id', u'scratch_time', u'post_time', u'content', u'image',
       u'poster', u'poster_id', u'poster_url', u'repost_num',
       u'comment_num', u'repost_post_id'], dtype=object)

post多了scratch_time 猜测爬取时间 image 图片地址
poster 用户名
new_user_post 多inner_flag 不知道干嘛的

In [29]:
# post.info()
# post.head()
frames = [post, new_user_post]

result = pd.concat(frames)
result.info()
result.drop(['scratch_time', 'poster', 'image'], axis=1, inplace=True)

result.info()

post = result

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48848 entries, 0 to 48812
Data columns (total 12 columns):
comment_num       40478 non-null object
content           39560 non-null object
image             35 non-null object
inner_flag        19048 non-null object
post_id           40480 non-null float64
post_time         40479 non-null object
poster            35 non-null object
poster_id         40478 non-null object
poster_url        40477 non-null object
repost_num        40478 non-null object
repost_post_id    635 non-null object
scratch_time      35 non-null object
dtypes: float64(1), object(11)
memory usage: 4.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 48848 entries, 0 to 48812
Data columns (total 9 columns):
comment_num       40478 non-null object
content           39560 non-null object
inner_flag        19048 non-null object
post_id           40480 non-null float64
post_time         40479 non-null object
poster_id         40478 non-null object
poster_url        40477 non-null object
repost_num        40478 non-null object
repost_post_id    635 non-null object
dtypes: float64(1), object(8)
memory usage: 3.7+ MB

post 处理完, 接下去处理user

In [31]:
user.info()
user.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 781 entries, 0 to 780
Data columns (total 11 columns):
user_id         781 non-null int64
user_name       781 non-null object
user_image      781 non-null object
gender          781 non-null object
class           781 non-null int64
message         780 non-null object
post_num        781 non-null object
follower_num    781 non-null object
followee_num    781 non-null int64
is_spammer      183 non-null float64
Unnamed: 10     2 non-null float64
dtypes: float64(2), int64(3), object(6)
memory usage: 67.2+ KB

,user_id,user_name,user_image,gender,class,message,post_num,follower_num,followee_num,is_spammer,Unnamed: 10
0,1041514813,james1002,http://tp2.sinaimg.cn/1041514813/180/5708899731/1,male,5,Lv.5 浙江宁波 简介：诚信为本，站的高才能看的远。快乐开心每一天。,1557,1421,2000,NaN,NaN
1,1046222077,郑钧,http://tp2.sinaimg.cn/1046222077/180/5711167576/1,male,10,北京东城区 简介：且把悲歌欢唱 个性域名： zhengjun 博客地址： h...,1265,1280571,130,NaN,NaN
2,1049591831,波播阿波思密达,http://tp4.sinaimg.cn/1049591831/180/5710224593/0,female,5,Lv.5 吉林松原 1972年12月3日 简介：自由人，快乐族,503,302,968,NaN,NaN
3,1062050703,霞儿0109,http://tp4.sinaimg.cn/1062050703/180/1277084329/0,female,9,Lv.9 福建厦门 毕业于 厦门大学 公司 ChinaZ站长...,281,148,354,NaN,NaN
4,1071429143,紫荆花_18423,http://tp4.sinaimg.cn/1071429143/180/400610658...,female,5,Lv.5 广东湛江 毕业于 辽宁师范大学 公司 大学教师 ...,135,1975,2000,NaN,NaN